.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.img-left {
  width: 150px;
  height: 300px;
}

.img-right {
  transform: rotateY(0.5turn);
  width: 150px;
  height: 300px;
}

.character-box {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 120px;
  font-size: 16px;
  background-color: #ba0303;
  border-radius: 5px;
  border: 3px solid #c87e41;
}

.character-box .title{
  font-weight: bolder;
  text-align: center;
  font-size: 20px;
}